# Copy this file to keystore.properties and fill in your actual values
storePassword=YOUR_STORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=YOUR_KEY_ALIAS
storeFile=keystore/YOUR_KEYSTORE_FILE.jks